#titulo {
  color: blue;
  margin-left: 40%;
  margin-top: 80;
}

#header {
  background-color: green;
}

#indicacion {
  margin-left: 30%;
}

table {
  margin-left: 20%;
}

body {
  height: 500px;
  background-color: #E8B70C;
}

.content {
  background-color: #FF0000;
  float: left;
  width: 70%;
  margin-left: 4%;
}

.menu {
  background-color: #0DFF5E;
  float: right;
  height: 500;
  width: 20%;
  margin-right: 32px;
}

#imagen-critica {
  margin-left: 12%;
}

#resenia-texto {
  width: 70%;
  float: left;
  margin-right: 40px;
}

.glosario dt {
  color: white;
}
